body{
    box-sizing: border-box;
    background-color: #EEF9BF;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;

}

.conteudo{
    width: 100%;
    height: 100%;

}

.titulo-container{
    padding-top: 40px;
    width: 100%;
    
    text-align: center;
}

h1 {
    color:#75B79E;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;

}

.cartas-container{
    padding-top: 50px ;
    margin:0 auto;
    width: 80%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.card{
    display: flex;
    transform-style: preserve-3d;    
    height: 146px;
    width: 117px;
    margin: 10px;
    position: relative;
}


.card-face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .card-face img{
      width: 100%;
  }

  .back-face {
    transform: rotateY(180deg);
  }

 

  .mostrar-card {
    transition-duration: 500ms;
    transform: rotateY(-180deg);
  }

.revirar{
    transition-duration: 1000ms;
    transform: rotateY(0deg);
}

  .feito-par{
    transform: rotateY(-180deg);
  }

.mostrar{
    display: flex;
}



.contador-container{
    text-align: center;
    font-size: 15px;
    position: absolute;
    background-color: #A7E9AF;
    width: 100px;
    height: auto;
    top:10px;
    right: 10px;
    border-radius: 10px;
}

.contador{
    font-size: 30px;
}
.text{
    padding-bottom: 10px;
}
.contador, .text{
margin-top:10px;
display: flex;
align-items: center;
justify-content: center;
}

@media (max-width:614px){
    .cartas-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .contador-container{
        top:5px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
        width: auto;
        
    }
    .text{
        padding-right: 5px;
        padding-left: 2px;
        
    }
    .contador{
        margin-top: 0px;        
        padding-left: 5px;
        font-size: 30px;
    }
}